<div class="col-lg-8  col-lg-offset-2" [@fadeIn]>
    <div class="jumbotron">
        <div class="container">
            <h1>{{title}}</h1>
            <p>Disfruta de los animales más exóticos de nuestro zoológico</p>
            <p>
                <a class="btn btn-primary btn-lg" role="button" [routerLink]="['/animales']">Ver Animales</a>&nbsp; 
                <a class="btn btn-success btn-lg" role="button" [routerLink]="['/cuidadores']">Ver cuidadores</a>&nbsp;
                <a class="btn btn-warning btn-lg" role="button" [routerLink]="['/contacto']">Ver contacto</a>&nbsp;
            </p>
        </div>
    </div>
</div>

