<div class="col-lg-6">
    <h1>{{title}}</h1>
    <br/>
    <div class="alert alert-success" *ngIf="status == 'success'" >
            Información actualizada correctamente
        </div>
        <div class="alert alert-danger" *ngIf="status == 'error'" >
            Error al actualizar los datos
        </div>
    <form #userEditFrom="ngForm" (ngSubmit)="onSubmit()" class="col-lg-10">

            <p>
                <label>Nombre:</label>
                <input type="text" name="name" autocomplete="off"  [(ngModel)]="user.name" #name="ngModel" class="form-control" required />
                <span *ngIf="!name.valid && name.touched">El nommbre es obligatorio</span>    
            </p>
            <p>
                <label>Apellidos:</label>
                <input type="text" name="surname" autocomplete="off" [(ngModel)]="user.surname" #surname="ngModel" class="form-control" required />
                <span *ngIf="!surname.valid && surname.touched">El apellido es obligatorio</span>    
            </p>
            <p>
                <label>Correo electrónico:</label>
                <input type="email" name="email" autocomplete="off" [(ngModel)]="user.email" #email="ngModel" class="form-control" required />
                <span *ngIf="!email.valid && email.touched">El correo electrónico es obligatorio</span>   
            </p>
            <div class="image_for_edit" *ngIf="user.image && user.image != 'null'">
                <img src="{{ url + 'user/getFile/' + user.image }}" />
            </div>
            <p>
                <label>Sube tu avatar</label>
                <input type="file" placeholder="subir imagen" class="form-control" (change)="fileChangeEvent($event)" >
            </p>
            <input type="submit" value="{{title}}" class="btn btn-primary" [disabled]="!userEditFrom.form.valid">
    </form>
</div>